.class{
    height: 20px;
    width: 20px;
    background-color: rgb(250, 191, 214);
    align-items: center;
   margin: -1.5px;
    display: inline-block;
    z-index: 2;
}


.box{
    background-color: rgb(10, 198, 255);
    height: auto;
    width: 500px;
}
.color1{
    background-color: white;
}